@charset "utf-8";

/*반응형 웹뷰*/
.panel,.mCon02Menu04,.mMainCon03,.mFooterInfo{display:none;}


@media screen and (max-width:768px){
  
	
	body{min-width:100%;}
   
	.gnb,.utill,.mainCon01,.con02Menu04,.con02 a:hover p,.mainCon03,.con04 p,.fLogo,.footerInfo{display:none;}
   
	
	.inner{width:100%;}
    
    /*헤더*/
   
	#header{
		position:relative;
		height:auto;
		line-height:normal;
		margin:10px 20px;
	}
   
	
	#header h1{
		position:static;
		background:url(../m/images/sp_com.png);
		width:70px; 
		height:28px;
	}    
    
    .panel{
		display:block;
		position:absolute; 
		top:50%;
		margin-top:-8px; 
		right:0;
	}
	
	
    .panel a:before,.panel span,.panel a:after{
		content:""; 
		display:block;
		width:20px; 
		height:2px;
		background:#333;
	}
	
	
    .panel span{
		margin:5px 0; 
		text-indent:-9999px;
	}
	
    .panel a:after{width:15px;}
    
	
    /*mainSlider*/
	
    .mainSlider{
		margin:0; 
		height:350px; 
		background:url(../images/main_img.jpg) no-repeat center center; 
		background-size:cover;
	}
	
	
    .mainSlider img{display:none;}
  
	.slideText{
		font-size:14px;
		margin-top:-35px;
	}
	
	.slideText span{font-size:11px;}
	
    .slideBtn{
		width:13px; 
		height:23px;
		margin-top:-12px; 
		background:url(../m/images/sp_com.png) no-repeat;
	}
	
    .leftBtn{
		background-position:-64px -30px;
		left:10px;
	}
	
    .rightBtn{
		background-position:-79px -30px;
		right:10px;
	}
    
    /*quickMenu*/
	
    .menuIcon{
		overflow:hidden; 
		padding:5px 0;
	}
	
    .menuIcon li{
		float:left; 
		width:33.33%; 
		padding:10px 0;
	}
	
    .menuIcon span{
		width:33px;
		height:33px;
		background:url(../m/images/sp_com.png) no-repeat;
		margin-bottom:0;
	}
	
	
    .menuIcon p{font-size:12px;}
	
    .menuIcon li:hover p{color:#333;}
	
    .menuIcon .icon01{
		background-position:0 -59px;
	}
	
    .menuIcon li:hover .icon01{
		background-position:0 -59px;
	}
	
    .menuIcon .icon02{
		background-position:-37px -59px;
	}
	
    .menuIcon li:hover .icon02{
		background-position:-37px -59px;
	}
	
    .menuIcon .icon03{
		background-position:-74px -59px;
	}
	
    .menuIcon li:hover .icon03{
		background-position:-74px -59px;
	}
	
	.menuIcon .icon04{
		background-position:-109px -59px;
	}
	
	.menuIcon li:hover .icon04{
		background-position:-109px -59px;
	}
	
    .menuIcon .icon05{
		background-position:-145px -59px;
	}
	
    .menuIcon li:hover .icon05{
		background-position:-145px -59px;
	}
	
    .menuIcon .icon06{
		background-position:-181px -59px;
	}
	
    .menuIcon li:hover .icon06{
		background-position:-181px -59px;
	}
    
    /*mainCon02*/
	
    .mainCon02{
		padding:10px;
		padding-bottom:0;
	}
	
    .con02{
		width:calc(50% - 5px);
		height:auto;
		margin-right:10px; 
		margin-bottom:10px;
	}
	
    .con02:nth-child(2n){margin-right:0;}
	
    .con02 a{padding:45% 0;}
	
    .con02 a:hover{background:none;}
	
    .con02 h3{
		font-size:16px;
		padding:0; 
		margin-bottom:0;
	}
	
    .con02Menu02 a:hover h3{color:#000;}
	
    .mCon02Menu04{
		display:block; 
		margin-right:0; 
		padding:0; 
		background:#2D5B79;
	}
    
    /*mainCon03*/
	
    .mMainCon03{display:block;}
    
    .mMainCon03{padding:0 10px;}
	
    .mMainCon03 dl{
		background:#F2F0ED;
		overflow:hidden;
		font-weight:bold;
		font-size:13px;
		padding:3% 0;
		margin-bottom:10px;
	}
	
    .mMainCon03 dt{
		width:20%;
		float:left;
		text-indent:10px;
		color:#2D5B79;
	}
	
    .mMainCon03 dd{
		width:80%;
		float:left;
		white-space:nowrap; 
		overflow:hidden;
		text-overflow:ellipsis;
	}
	
    .mMainCon03 a{color:#000;}
    
    /*mainCon04*/
	
    .mainCon04{
		padding:20px 10px;
		padding-bottom:10px;
	}
	
    .con04{
		width:calc(50% - 5px);
		height:auto;
		margin-right:10px; 
		background-size:100% 100%;
		margin-bottom:10px;
	}
	
    .con04:nth-child(2n){margin-right:0;}
	
    .con04 a{padding:80% 0 10% 0;}
	
    .con04 h3{
		padding-top:0;
		font-size:14px;
	}
    
    /*footer*/
	
    .footerTop{
		height:auto;
		line-height:normal;
		text-align:center;
	}
	
    .fMenu{
		width:100%; 
		font-size:13px; 
		font-weight:bold;
		line-height:30px;
	}
	
	
    .fMenu li{
		float:none; 
		display:inline-block;
	}
	
    .fMenu li:last-child:after{display:none;}
	
    .footerCs .csNum,.footerCs span{
		font-size:13px;
	}
	
    .footerTopR{
		float:none; 
		display:inline-block;
		margin-top:10px;
	}
	
    .footerTopR div{
		height:40px;
		line-height:40px;
	}
	
    .familySite{
		width:auto; 
		padding-right:30px; 
		font-size:13px;
	}
	
    .mFooterInfo{
		display:block; 
		color:#fff;
		font-size:11px;
		font-weight:bold;
		line-height:60px; 
		text-align:center;
	}
	
}




